<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhu.lazytemp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="true" />
    <application
        android:name=".LazyTempApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 扫描MP3 -->
        <activity android:name=".main.ScanMp3Activity"></activity>
         <!-- 音频播放页面 -->
        <activity android:name=".play.activity.MediaPlayActivity"></activity>
        <!--打开闪光灯-->
        <activity android:name=".main.FlashLightActivity"></activity>
        <!--线性布局测试-->
        <activity android:name=".main.TestLinearLayoutActivity"/>
        <!--自定义注解测试-->
        <activity android:name=".main.AnnotationTestActivity"/>
        <!-- 滚动TextView测试 -->
        <activity android:name=".main.ScollerTextViewActivity"/>

        <!-- 音频播放服务 -->
        <service android:name=".play.MediaService"></service>

        <!--播放列表内容提供者-->
        <provider android:authorities="com.zhu.lazytemp.PlayListContentProvider" android:name=".db.PlayListContentProvider"/>
    </application>

</manifest>