<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhu.lazytemp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.autofocus"/>
    <application
        android:name=".LazyTempApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.zhu.lazytemp.main.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 扫描MP3 -->
        <activity android:name="com.zhu.lazytemp.main.ScanMp3Activity"></activity>
         <!-- 音频播放页面 -->
        <activity android:name="com.zhu.lazytemp.play.activity.MediaPlayActivity"></activity>
        <!--打开闪光灯-->
        <activity android:name=".main.FlashLightActivity"></activity>
        <!-- 音频播放服务 -->
        <service android:name="com.zhu.lazytemp.play.MediaService"></service>
    </application>

</manifest>